language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"

install:
  - pip install err pytest pytest-cov python-coveralls pep8 --requirement requirements.txt

script:
  - py.test --cov convert
  - pep8 --show-source

after_success:
  - coveralls
